# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# Flask
# =========================
instance/
.webassets-cache/
.flaskenv

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Migrations
# =========================
migrations/versions/*.pyc

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# IDE / Editors
# =========================
.vsc
